

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}


.container {
    width: 320px;
    margin: 80px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}


p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}