

body {
    margin: 0;
    padding: 0;
    background: #f2f5f7;
    font-family: Arial, sans-serif;
}

div {
    width: 330px;
    margin: 80px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.12);
}


label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
}


input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}


button {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}


p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
